@font-face {
    font-family: 'Brandon Text';
    src: url('BrandonText-Light.woff2') format('woff2'),
        url('BrandonText-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Brandon Text';
    src: url('BrandonText-Bold.woff2') format('woff2'),
        url('BrandonText-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Brandon Text';
    src: url('BrandonText-Regular.woff2') format('woff2'),
        url('BrandonText-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Brandon Text';
    src: url('BrandonText-RegularItalic.woff2') format('woff2'),
        url('BrandonText-RegularItalic.woff') format('woff');
    font-weight: 400;
    font-style: italic;
}
